.bg-app{
  background-image: url('./background/background_app.png');
  /* background-color: blue; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Caveat Brush', cursive;
  font-weight: bold;
}
.btn:hover{
  transform: scale(1.05);
  transition: 0.2s;
}
.form-control:hover{
  transform: scale(1.05);
  transition: 0.2s;

}
.form-select:hover{
  transform: scale(1.05);
  transition: 0.2s;
}